main {
    .container {
        padding-top: 5%;
        width: auto;
        justify-content: center;
        text-align: center;
        font-family: Avenir Black;

        .article-card {
            h2 {
                font-family: Avenir Black;
                color: red;
                font-size: 14px;
                line-height: 21px;
                @media (max-width: 480px) {
                    margin-top: 10%;
                }
            }
            h3 {
                color: #3b2143;
                font-size: 36px;
                line-height: 46px;
                text-align: center;
                width: 500px;
                margin: 5px auto 40px;

                @media (max-width: 480px) {
                    width: 300px;
                }
            }

            .article-img {
                width: 100%;
                margin: 0;
                padding-left: 70px;
                padding-right: 70px;
                @media (max-width: 480px) {
                    padding: 0;
                }
            }

            .article-content {
                position: relative;
                background: #fff;
                margin: -200px 12% 0;
                @media (max-width: 480px) {
                    margin: -60px 5% 3px;
                    padding: 10px 15px;
                }

                @media (max-width: 768px) {
                    margin: -100px 15% 3px;
                    padding: 10px 15px;
                }


                p {
                    padding: 60px 60px 55px;
                    font-size: 26px;
                    line-height: 36px;
                    color: #3b2143;

                    @media (max-width: 480px) {
                        font-size: 16px;
                        line-height: 22px;
                        padding: 10px;
                        position: relative;
                    }
                }
            }
        }

        .article-minicard {
            padding-left: 70px;
            padding-right: 70px;
            .minicard-text {
                background-color: rgba(0, 0, 0, 0.4);
                height: calc(100% - 25px);
                color: #fff;
                position: absolute;
                justify-content: center;
                text-align: left;
                top: 0;
                right: 0;
                left: 0;
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0 40px 40px;

                @media (max-width: 480px) {
                    padding: 0 20px 20px;
                }
            }

            @media (max-width: 480px) {
                padding: 0;
            }
            img {
                padding: 10px;
                height: 300px;
                object-fit: cover;
            }

            h5 {
                font-size: 26px;
                max-width: 200px;
            }
            h2 {
                margin: 0px 78px 20px;
                font-family: 'Avenir Book';
                color: red;
                font-size: 14px;
                line-height: 21px;
                @media (max-width: 480px) {
                }
            }

            .article-minicard-left {
                position: relative;
                float: left;
                width: 50%;

                @media (max-width: 480px) {
                    float: none;
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 400px;
                    @media (max-width: 480px) {
                        height: 230px;
                    }
                }
            }

            .article-minicard-right {
                position: relative;
                float: left;
                width: 50%;

                @media (max-width: 480px) {
                    float: none;
                    height: 240px;
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 400px;
                    @media (max-width: 480px) {
                        height: 240px;
                    }
                }
            }
        }
    }

    .arrow-up {
        float: right;
        margin: 3%;
    }
    .fa-arrow-circle-up:before {
        margin: 20px;
        padding: 10px 10px 10px 10px;
    }
}

footer {
    clear: both;
    //margin-top: 100px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(209, 53, 114, 1) 0%, rgba(252, 176, 69, 1) 100%);
    clear: both;
    .footer {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 130px;
        bottom: 0;
        padding: 0 6%;
        @media (max-width: 480px) {
            flex-direction: column-reverse;
            height: 200px;
            justify-content: center;
            text-align: center;
        }

        h3 {
            font-size: 16px;
            color: #fff;
        }

        img {
            padding: 10px;
        }
    }
}
