body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: "Avenir Book";
    font-weight: lighter;
}

* {
    box-sizing: border-box;
    font-family: "Avenir Book", "Arial Book", sans-serif;
}

.navbarsticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    padding-bottom: 20px;
    z-index: 100;

    nav li a {
        color: black !important;
    }

    @media (max-width: 480px) {
        position: relative;
    }
}

.container {
    video {
        z-index: -100;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        @media (max-width: 480px) {
            object-fit: cover;
            float: none;
            top: 0;
            height: 400px;
        }
    }

    .logo {
        left: 0;
        width: 220px;
        float: left;
        padding: 3.5em 0 0 3em;
        @media (max-width: 480px) {
            float: none;
            padding: 0.5em 0.5em 0 0.5em;
            width: 150px;
        }

        @media only screen and(max-width: 1024px) {
            width: 30%;
        }
    }

    .quote {
        margin: auto;
        height: 10px;
        padding-top: 17%;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 55px;
        font-weight: 900;
        width: 40%;
        @media (max-width: 480px) {
            padding-top: 6%;
            font-size: 20px !important;
            width: 50%;
        }

        @media (max-width: 768px) {
            width: 70%;
            font-size: 30px;
        }

        @media (max-width: 1280px) {
            width: 50%;
            font-size: 40px;
        }
    }

    .arrow-down {
        margin-bottom: 10px;
        padding-top: 35%;
        width: auto;
        justify-content: center;
        text-align: center;
        @media (max-width) {
            //top: -30%;
        }
        .fa-arrow-circle-down:before {
            color: rgb(255, 255, 255);
        }
    }

    nav {
        right: 0;
        position: fixed;
        @media (max-width: 480px) {
            position: absolute;
            top: 0;
            right: 0;
        }

        .btn-lang {
            position: relative;
            float: right;
            top: -13px;
            button {
                background: transparent;
                border: 2px solid #fff;
                color: #fff;
                @media (max-width: 1024px) {
                    width: 50px;
                    height: 30px;
                    font-size: 20px;
                }
            }
        }

        .mobile-bar {
            padding: 1em 1em 0 0.5em;
            display: none;

            @media (max-width: 480px) {
                position: relative;
                top: -50px;
                display: flex;
               
            }

            .fa-bars:before {
                color: rgb(253, 252, 252);
            }

            .fa-times:before {
                position: absolute;
                bottom: 550px;
                right: 0;
                color: rgb(8, 8, 8);
                padding: 18px 18px 0 9px;
            }
        }

        ul {
            padding: 1em 0 0 0;
            margin: 0;
            left: -60;
            @media (max-width: 480px) {
                .btn-lang{
                    display: none;
                }
                li{
                    display: none;
                }

        

                &.active {
                    display: flex;
                    left: 0;
                    right: 0;
                    padding: 0;
                    background: #fff;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100vh;
                    width: 100vw;
                    transition: all 1s;

                    //transition: width 2s, height 2s, background-color 2s, transform 2s;

                    .btn-lang{
                        display: block;
                        button{
                            color: black;
                            border: solid 2px black;
                        }
                    }


                    li {
                        display: block;

                        a {
                            display: block;
                            margin: 0;
                            font-size: 16px !important;
                            color: black;

                        }
                    }
                }
            }
        }

        li {
            display: inline-block;

            a {
                display: inline-block;
                text-decoration: none;
                padding: 0.5em 1em;
                color: #fff;
                transition: all 0.3s ease-in-out;
                @media only screen and(max-width: 1024px) {
                    font-size: 20px !important;
                }
                @media only screen and(max-width: 768px) {
                    font-size: 16px !important;
                }

                &:hover {
                    color: black;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .cookie {
        width: 100%;
        height: 100px;
        background-color: #3b2143;
        color: #fff;
        text-decoration-color: red;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        @media only screen and (max-width: 480px) {
            margin-top: 20% !important;
            text-align: left !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }

        .cookie-text {
            max-width: 60% !important;
            padding: 10px 10px 10px;
            display: flex;

            @media (max-width: 480px) {
                max-width: 80% !important;
            }
        }

        .cookie-content-right {
            padding: 10px 10px 10px;
            #accept-cookie{
                width: 80px;
                height: 40px;
                margin-right: 10px;

                &:hover {
                    color: red;
                }
            }
            a {
                color: #fff;
                text-decoration: underline;
                text-decoration-color: red;
                &:hover {
                    color: red;
                }
            }
        }

        @media (max-width: 480px) {
            height: auto;
            margin: auto;
        }
    }
}
